extends layoutNav.pug
append content
  .content
    .table-cell
      .m0ncentrageParafoot
        iframe(width='480' height='270' src='https://www.youtube.com/embed/KOJaHC3eEbc' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        //img#img404(src='/static/img/pugsvg.svg')