extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage  
        #INDEX
          a(href="https://www.facebook.com/mikael.sosmooth/") FACEBOOK LIVE
          //2965750440209401
          h1.liens PC SECURITE 
          #container.col
            p
              | Fil de caméra PC
              br 
              iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fposts%2F2971859896265122&width=500' style='border:none;overflow:hidden' scrolling='no' allowtransparency='true' allow='encrypted-media' width='280' height='480' frameborder='0')
              br
              | = cable de caméra:
              | ensemble de filS au sein d'une gaine commune 
              br
              | @Mme Ghiberto de la Police nationale Française
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961527407298371%2F&show_text=1&width=560' width='480' height='360' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              | Tentative de mutilation au LBD ? @Police nationale Française
              br
              //https://www.facebook.com/mikael.sosmooth/posts/2962150700569375
              //iframe(src='https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2962150700569375%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              //img(src="/static/img/ingenieurOrNot.jpg", alt="" width='480' height='320')
              .fb-post(data-href='https://www.facebook.com/mikael.sosmooth/posts/2962150700569375', data-show-text='true', data-width='')
                blockquote.fb-xfbml-parse-ignore(cite='https://developers.facebook.com/mikael.sosmooth/posts/2962150700569375')
                  p
                    | Ingénieur vs pas ingénieur
                    | Ingénieur pendant les 6mois de validation en entreprise des compétences de la formation de...
                  | Publiée par 
                  a(href='#', role='button') Mikaël Sosmooth
                  |  sur 
                  a(href='https://developers.facebook.com/mikael.sosmooth/posts/2962150700569375') Vendredi 15 mai 2020
              h1 Flux FACEBOOK LIVE security cams + showScreen helloWorld
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2975619012555877%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2975556802562098%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961521140632331%2F&show_text=1&width=267' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961580320626413%2F&show_text=1&width=560', style='border:none;overflow:hidden', scrolling='no', allowtransparency='true', allow='encrypted-media', allowfullscreen='true', width='480', height='320', frameborder='0')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961584057292706%2F&show_text=1&width=560', style='border:none;overflow:hidden', scrolling='no', allowtransparency='true', allow='encrypted-media', allowfullscreen='true', width='480', height='320', frameborder='0')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2974579935993118%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2974706795980432%2F&width=1280' width='480' height='300' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2945098235607955%2F&show_text=1&width=267', style='border:none;overflow:hidden', scrolling='no', allowtransparency='true', allow='encrypted-media', allowfullscreen='true', width='267', height='709', frameborder='0')
              h1.liens Proof of hack, apparently from some eastern people
              br
              iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fposts%2F2966141376836974&width=500' width='480' height='370' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')
              //@Emmanuel et Brigitte MACRON
              h1.liens Visite du Président de la Russie aux Macrons lors de leurs vacances estivales
                iframe(src='https://www.youtube.com/embed/8wl2ddpwEhI', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', width='480', height='300', frameborder='0')
                p 
                  |  J'espère sincèrement que vous avez davantage respecté le président Vladimir Putin
                  |  hors caméra.
              //- h1 ICE
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2967861029998342%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971279939656451%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2967988336652278%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968042409980204%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968133309971114%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2967392330045212%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968362253281553%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968594169925028%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968871399897305%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2969452793172499%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2969829983134780%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968744499909995%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2969891723128606%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971021603015618%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971189572998821%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971294869654958%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971514762966302%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971009683016810%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971633626287749%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2972353096215802%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2972087446242367%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2972589219525523%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2969777009806744%2F&width=1280' width='480' height='960' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2974585929325852%2F&width=1280' width='480' height='300' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2974455479338897%2F&width=1280' width='480' height='320' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2922773807840398%2F&width=1280' width='480' height='960' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
            //- p.hack visualstudio2017buildtools has been installed.
            //- p.hack visualstudio2017buildtools may be able to be automatically uninstalled.
            //- p.hack The upgrade of visualstudio2017buildtools was successful.
            //- p.hack Software installed to 'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools'
            //- p.hack 
            //- p.hack visualstudio2017-workload-vctools v1.3.2 [Approved]
            //- p.hack visualstudio2017-workload-vctools package files upgrade completed. Performing other installation steps.
            //- p.hack Installing visualstudio2017-workload-vctools...
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : Received the application ready notification
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : ProgressBarService listening to ipc channel: progress-bar
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : LoggerIpcRpcService listening to ipc channel: LoggerService
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : LoggerIpcRpcService listening to ipc channel: LoggerService
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : Telemetry Session ID: 1e8a38bd-5f61-40ad-941a-e4c25d188f50
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : Starting ServiceHub Remote Settings client.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : Creating commonError Service
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : starting rpc process for common error
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : RPC Factory: Get common error config provider
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : Creating helpLink Service
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : starting rpc process for help link
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : FeaturesIpcRpcService listening to ipc channel: FeaturesProxy
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : FeaturesIpcRpcService listening to ipc channel: FeaturesProxy
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : Starting the installer service.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:44 : Verbose : FeedbackIpcRpcService listening to ipc channel: FeedbackProxy
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Window ready
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling SetupEngine.Installer.Initialize. [locale: fr-FR]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.Initialize(initializer) initializer: {"ClientName":"vs-xsetup","ClientVersion":"2.5.2061.411","RemoteSettingsFileName":"RemoteSettings_Installer.json","SerializedTelemetrySession":"{\"IsOptedIn\":true,\"Id\":\"1e8a38bd-5f61-40ad-941a-e4c25d188f50\",\"HostName\":\"Dev14\",\"AppInsightsInstrumentationKey\":\"f144292e-e3b2-4011-ac90-20e5c03fbce5\",\"AsimovInstrumentationKey\":\"aif-312cbd79-9dbb-4c48-a7da-3cc2a931cb70\",\"ProcessStartTime\":637252649245110000}","ChannelOrProductId":"VS Installer","AppIdGuid":"42123B45-5471-4B16-81E7-5404CD93BCF1","ClientLocale":"fr-FR","Flights":[]}}
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : ServiceHub Remote Settings client started.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : RPC Factory: Get help link provider
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: ComponentSearch, defaultValue: true
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: WelcomePane, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: DownloadThenUpdate, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: ProblemsDlgButtons, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: CommonError, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: ProblemsDlgRetry, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: InstallationOptionsPageKS, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: ShowBitrate, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: RecommendSel, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Calling RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: Surveys, defaultValue: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:45 : Verbose : Connected to Hub Controller's client watch 'net.pipe://6ABF41663D2D2BA66D57A40972E11C5F'
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : ServiceHubExperimentationClient.setSharedProperty(name, value) called,
            //- p.hack [name: VS.ABExp.Flights] [value: lazytoolboxinit;fwlargebuffer;refactoring;spmoretempsbtn1;asloff;keybindgoldbarext;asynccsproj;vsfricheditor;completionapi;tn-vsmacnps-7;toggleblockcomment;tasmigddvs;multitenanttasmigration_002]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: ComponentSearch, defaultValue: true, result: true
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: WelcomePane, defaultValue: false, result: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: DownloadThenUpdate, defaultValue: false, result: true
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: ProblemsDlgButtons, defaultValue: false, result: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: CommonError, defaultValue: false, result: true
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: InstallationOptionsPageKS, defaultValue: false, result: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: RecommendSel, defaultValue: false, result: true
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : SetupEngine.Installer.Initialize succeeded. [locale: fr-FR]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Started the installer service.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Calling SetupEngine.Installer.IsElevated.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: Surveys, defaultValue: false, result: true
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : ServiceHubExperimentationClient.postEvent(name, properties) called.
            //- p.hack [name: VS/ABExp/FlightRequest] [properties: {"VS.ABExp.Flight":"vswproblemsdlgretry","VS.ABExp.Result":"False"}]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : ServiceHubExperimentationClient.postEvent(name, properties) called.
            //- p.hack [name: VS/ABExp/FlightRequest] [properties: {"VS.ABExp.Flight":"vswshowbitrate","VS.ABExp.Result":"False"}]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : SetupEngine.Installer.IsElevated succeeded.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Service creation finished
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: ProblemsDlgRetry, defaultValue: false, result: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Calling RemoteSettingsProviderService.GetActionsAsync(actionPath), actionPath: vs\installer\commonerroractions
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Getting installed product summaries. [installerId: SetupEngine]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Starting the installed products provider service.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Starting the products provider service.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Getting product summaries. [installerId: SetupEngine]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Calling SetupEngine.Installer.GetDriveInfo.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Calling SetupEngine.Installer.IsElevated.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Calling RemoteSettingsProviderService.GetActionsAsync(actionPath), actionPath: vs\installer\helplink
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : Resolved RemoteSettingsProviderService.GetBooleanValue(collectionPath, key, defaultValue) collectionPath: Installer\Features\, key: ShowBitrate, defaultValue: false, result: false
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : SetupEngine.Installer.IsElevated succeeded.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:46 : Verbose : SetupEngine.Installer.GetDriveInfo succeeded.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:47 : Verbose : Started the products provider service.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:47 : Verbose : Dispatched ProductUpdateCheckStartedEvent event.
            //- p.hack 
            //- p.hack 2020-05-17T00:28:47 : Verbose : Started the installed products provider service.
            //- p.hack 
            //- p.hack 
            //- p.hack 2020-05-17T00:28:47 : Verbose : Resolved RemoteSettingsProviderService.GetActionsAsync(actionPath) actionPath: vs\installer\helplink, result: []
            //- p.hack 
            //- p.hack 2020-05-17T00:28:47 : Verbose : Channel: VisualStudio.15.Release, status: Cached
            //- p.hack 
            //- p.hack 2020-05-17T00:28:47 : Verbose : Channel: VisualStudio.16.Release, status: Cached
            //- p.hack 
            //- p.hack 2020-05-17T00:28:47 : Verbose : Getting installed product. [installerId: SetupEngine, installationPath: C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools, withUpdatePackages: false]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:48 : Verbose : Calling SetupEngine.Installer.EvaluateModifyParameters. [installationPath: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools', languages: 'fr-FR' selectedPackageReferences.length: 13]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:49 : Verbose : SetupEngine.Installer.EvaluateModifyParameters succeeded. [installationPath: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools', languages: 'fr-FR' selectedPackageReferences.length: 13]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:49 : Verbose : Calling SetupEngine.Installer.EvaluateModifyParameters. [installationPath: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools', languages: 'fr-FR' selectedPackageReferences.length: 13]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:49 : Verbose : SetupEngine.Installer.EvaluateModifyParameters succeeded. [installationPath: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools', languages: 'fr-FR' selectedPackageReferences.length: 13]
            //- p.hack 
            //- p.hack 2020-05-17T00:28:49 : Verbose : Calling SetupEngine.Installer.ModifyProduct. [installationPath: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools']
            //- p.hack 
            //- p.hack 2020-05-17T00:28:49 : Verbose : Dispatched ProductUpdateCheckFinishedEvent event with wasManifestUpdated=false.
            //- p.hack 
            //- p.hack (node:15720) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
            //- p.hack 2020-05-17T00:32:38 : Verbose : SetupEngine.Installer.ModifyProduct succeeded. [installationPath: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools']
            //- p.hack 
            //- p.hack 2020-05-17T00:32:46 : Verbose : Closing installer. Return code: 0.
            //- p.hack 
            //- p.hack 2020-05-17T00:32:46 : Verbose : Closing installer. Return code: 0.
            //- p.hack 
            //- p.hack 2020-05-17T00:32:46 : Verbose : [ProductsProviderImpl]: Rpc connection was closed.
            //- p.hack 
            //- p.hack 2020-05-17T00:32:46 : Verbose : [ProductsProviderImpl]: Stream was closed
            //- p.hack 
            //- p.hack 2020-05-17T00:32:46 : Verbose : [InstalledProductsProviderImpl]: Rpc connection was closed.
            //- p.hack 
            //- p.hack 2020-05-17T00:32:46 : Verbose : [InstalledProductsProviderImpl]: Stream was closed
            //- p.hack 
            //- p.hack 2020-05-17T00:32:46 : Verbose : [InstallerImpl]: Rpc connection was closed.
            //- p.hack 
            //- p.hack 2020-05-17T00:32:46 : Verbose : [InstallerImpl]: Stream was closed
            //- p.hack 
            //- p.hack visualstudio2017-workload-vctools has been installed.
            //- p.hack visualstudio2017-workload-vctools may be able to be automatically uninstalled.
            //- p.hack The upgrade of visualstudio2017-workload-vctools was successful.
            //- p.hack Software install location not explicitly set, could be in package or
            //- p.hack default install location if installer.
            //- p.hack 
            //- p.hack Chocolatey upgraded 17/17 packages.
            //- p.hack See the log for details (C:\ProgramData\chocolatey\logs\chocolatey.log).
            //- p.hack 
            //- p.hack Upgraded:
            //- p.hack - chocolatey-dotnetfx.extension v1.0.1
            //- p.hack - kb3033929 v1.0.5
            //- p.hack - python3 v3.8.3
            //- p.hack - visualstudio2017buildtools v15.9.23.0
            //- p.hack - chocolatey-windowsupdate.extension v1.0.4
            //- p.hack - vcredist140 v14.25.28508.3
            //- p.hack - kb2999226 v1.0.20181019
            //- p.hack - visualstudio-installer v2.0.1
            //- p.hack - kb2919355 v1.0.20160915
            //- p.hack - chocolatey-core.extension v1.3.5.1
            //- p.hack - kb2919442 v1.0.20160915
            //- p.hack - visualstudio2017-workload-vctools v1.3.2
            //- p.hack - chocolatey-visualstudio.extension v1.8.1
            //- p.hack - vcredist2015 v14.0.24215.20170201
            //- p.hack - dotnetfx v4.8.0.20190930
            //- p.hack - kb3035131 v1.0.3
            //- p.hack - python v3.8.3
            //- p.hack Type ENTER to exit:
          
          //- form#adm1n(action='/layoutAdmin' method='post')
          //-   label.LabelAdmin(for='POST-user') user
          //-   br
          //-   input#POST-user.InputAdmin(type='text' name='user')
          //-   br
          //-   label.LabelAdmin(for='POST-pass') pass
          //-   br
          //-   input#POST-pass.InputAdmin(type='text' name='pass')
          //-   br
          //-   br
          //-   input#subAdm1n(type='submit' class="css3but" value='log')
append scripts
  script.
    $('#intro').removeClass('css3buttonRed')
    $('#intro').addClass('css3button')
    $('#resume').removeClass('css3buttonRed')
    $('#resume').addClass('css3button')
    $('#admin').removeClass('css3button')
    $('#admin').addClass('css3buttonRed')
    $('#m0ncentrage').fadeIn(250)
