extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage  
        #INDEX
          #fb-root
          script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0' nonce='N4lKtp2e')
          a(href="https://facebook.com/search/top?q=jean-michel%20daugé") Jean-Michel Daugé
          a(href="https://www.facebook.com/karine.applincourt.7") Karine Applincourt
          //-2965750440209401
            h1.liens PC SECURITE 
            | Photographie prise en réanimation début septembre 2019, après avoir réussi à m'échapper par ma fenêtre le 26 août 2019 avec ma trotinnette electrique,
            |  alors que la police essayait d'entrer par la force dans mon logement.
            | Je me souviens que le voisin du premier leur a indiqué ma fuite par la fenêtre (vidéo du voisin en mode "footing ci-dessous").
            | Apparement j'aurai été retrouvé en arrêt cardio-respiratoire (15min) à l'arrivée des soignants.
            | Depuis je suis harcelé, volé et tabassé par ce même voisin qui semble avoir beaucoup de famille dans la police.
            | N'hésitant pas à me tendre des embuscades en coupant l'electricité de mon logement au 2eme etage depuis le rez de chausser.
            | Depuis qu'ils sont rentré chez moi me frapper, la police de montauban me harcèle pour une histoire de volet hors d'usage.
            | Quand je me suis rendu au poste de police pour signer ma pré-plainte en ligne j'ai été placé en garde à vue avant d'être fait interner d'office sur demande de Brigitte Bareges.
            br
            iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fposts%2F2971859896265122&width=500' style='border:none;overflow:hidden' scrolling='no' allowtransparency='true' allow='encrypted-media' width='280' height='480' frameborder='0')
          br 
          h1 Aggression à mon domicile par les voisins d'en face (serge) et du dessus (jean-michel) après ma garde à vue et vol de ma camera xiaomi.
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fposts%2F3104734596310984&width=500' style='border:none;overflow:hidden' scrolling='no' allowtransparency='true' allow='encrypted-media' width='280' height='480' frameborder='0')
          br
          h1 Attaque a la poubelle de Jean-Michel qui m'a menac&eacute; d&apos;&eacute;gorgement après que je l'ai surpris avec ma weed au bec.
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fposts%2F3104714712979639&width=500' style='border:none;overflow:hidden' scrolling='no' allowtransparency='true' allow='encrypted-media' width='280' height='480' frameborder='0')
          br
          | Fil de caméra PC
          | = cable de caméra:
          | ensemble de filS au sein d'une gaine commune 
          br
          img(src="./static/img/plainte.png", alt="recapitulatif preplainte en ligne" width='480')
          br
          //iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F3104686009649176%2F&show_text=1' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          #container.col
            .fb-post(data-href='https://www.facebook.com/mikael.sosmooth/posts/3104686009649176' data-show-text='false' data-width='')
              blockquote.fb-xfbml-parse-ignore(cite='https://developers.facebook.com/mikael.sosmooth/posts/3104686009649176')
                p lorsque la police intervient apr&egrave;s agression de mes voisins
                | Publi&eacute;e par 
                a(href='#' role='button') Mika&euml;l Sosmooth
                |  sur&nbsp;
                a(href='https://developers.facebook.com/mikael.sosmooth/posts/3104686009649176') Mercredi 8 juillet 2020
          br
          | @Mme Ghiberto de la Police nationale Française: j'espère que vos soucis hormonaux se sentent moins.
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961527407298371%2F&show_text=1&width=560' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          | Tentative de mutilation au LBD ? @Police nationale Française (video fb live via ordinateur avant achat xiaomi VOLEE PAR LE VOISIN JOGGER)
          br
          //img(src="/static/img/ingenieurOrNot.jpg" alt="" width='480' height='340')
          .fb-post(data-href='https://www.facebook.com/mikael.sosmooth/posts/2962150700569375' data-show-text='true' data-width='')
            blockquote.fb-xfbml-parse-ignore(cite='https://developers.facebook.com/mikael.sosmooth/posts/2962150700569375')
              p
                | Ingénieur vs pas ingénieur
                | Ingénieur pendant les 6mois de validation en entreprise des compétences de la formation de...
              | Publiée par 
              a(href='#' role='button') Mikaël Sosmooth
              //|  sur 
              //a(href='https://developers.facebook.com/mikael.sosmooth/posts/2962150700569375') Vendredi 15 mai 2020
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F3005119319605846%2F&show_text=0&width=267&t=128' width='267' height='476' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          h1 Flux FACEBOOK LIVE security cams + showScreen helloWorld
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2980242862093492%2F&show_text=0&width=560' width="480" height="202.5" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true")
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2979073332210445%2F&width=1280' width='480' height='202.5' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          | "T'embrasseras ta mère pour moi" il s'agit donc d'un des policiers nationnaux en charge de l'affaire concernant mon homicide le 26 août 2019.
          |  il s'amuse également en fin de vidéo du dsyfonctionnement de ma précédente montre android wear depuis ma mise en garde à vue durant le confinement #COVID pour avoir voulu déposer plainte.
          //-@Emmanuel et Brigitte MACRON
            h1.liens Visite du Président de la Russie aux Macrons lors de leurs vacances estivales
            br
            iframe(src='https://www.youtube.com/embed/8wl2ddpwEhI' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' width='480' height='300' frameborder='0')
            br
            |  J'espère sincèrement que vous avez davantage respecté le président Vladimir Putin
            |  hors caméra.
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2981340468650398%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2975556802562098%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961521140632331%2F&show_text=1&width=267' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961584057292706%2F&show_text=1&width=560' style='border:none;overflow:hidden' scrolling='no' allowtransparency='true' allow='encrypted-media' allowfullscreen='true' width='480' height='340' frameborder='0')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2945098235607955%2F&show_text=1&width=267' style='border:none;overflow:hidden' scrolling='no' allowtransparency='true' allow='encrypted-media' allowfullscreen='true' width='267' height='650' frameborder='0')
          br
          //-h3 Very proof ONE
            br
            iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2941427049308407%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
            br
            |  censure par facebook (police ?)
            br
            h3 Confession de vol de la cam 1080p 360° de xiaomi avec le son recouvert par autre chose, pas par moi....
            iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2945197372264708%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
            br
            |  idem = censure par facebook (police ?)
            br
            iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2945192435598535%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2945098235607955%2F&width=1280' width='480' height='920' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          //- h1 ICE
            h1.liens Proof of hack, apparently from some eastern people
            iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961580340626413%2F&show_text=1&width=560' style='border:none;overflow:hidden' scrolling='no' allowtransparency='true' allow='encrypted-media' allowfullscreen='true' width='480' height='340' frameborder='0')
            iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2974579935993118%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
            iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2974706795980432%2F&width=1280' width='480' height='300' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
            br
            iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fposts%2F2966141376836974&width=500' width='480' height='370' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2967861029998342%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971279939656451%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2967988336652278%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968042409980204%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968133309971114%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2967392330045212%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968362253281553%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968594169925028%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          //iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968871399897305%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          //br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2969452793172499%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2969829983134780%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2968744499909995%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2969891723128606%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971021603015618%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971189572998821%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971294869654958%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971514762966302%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971009683016810%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2971633626287749%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2972353096215802%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2972087446242367%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2972589219525523%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2969777009806744%2F&width=1280' width='480' height='960' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2974585929325852%2F&width=1280' width='480' height='300' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          //iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2974455479338897%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          //br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2922773807840398%2F&width=1280' width='480' height='960' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2961483090636136%2F&width=1280' width='480' height='960' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          br
          br
          //-iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2936487599802352%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
            br
            iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2936144413170004%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
            br
            iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2917901691660943%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
            br
          h3 on m'a craché 2 fois dessus aujourd'hui, c'était Jean-Michel Daugé du 3ème et sa compagne Karine Applincourt
          //iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2914106548707124%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          br
          iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2975619012555877%2F&width=1280' width='480' height='340' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          //- form#adm1n(action='/layoutAdmin' method='post')
          //-   label.LabelAdmin(for='POST-user') user
          //-   br
          //-   input#POST-user.InputAdmin(type='text' name='user')
          //-   br
          //-   label.LabelAdmin(for='POST-pass') pass
          //-   br
          //-   input#POST-pass.InputAdmin(type='text' name='pass')
          //-   br
          //-   br
          //-   input#subAdm1n(type='submit' class="css3but" value='log')
append scripts
  script.
    $('#intro').removeClass('css3buttonRed')
    $('#intro').addClass('css3button')
    $('#resume').removeClass('css3buttonRed')
    $('#resume').addClass('css3button')
    $('#admin').removeClass('css3button')
    $('#admin').addClass('css3buttonRed')
    $('#m0ncentrage').fadeIn(250)
