append head
 link(rel='stylesheet' href='/static/css/admin.css') 
append content
  #ADM1N
    h1 LOG IN
    form#adm1n(action='/layoutAdmin' method='post')
      label.LabelAdmin(for='POST-user') user
      input#POST-user.InputAdmin(type='text' name='user')
      label.LabelAdmin(for='POST-pass') pass
      input#POST-pass.InputAdmin(type='text' name='pass')
      input#subAdm1n(type='submit' class="css3but" value='log')