extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage  
        #ADM1N
          h1.log LOG IN
            #adm1n
            //2965750440209401
            #container.col
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2965750440209401%2F&width=1280' width='640' height='480' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
              br
              iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikael.sosmooth%2Fvideos%2F2965714136879698%2F&width=1280' width='480' height='960' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true')
          //- form#adm1n(action='/layoutAdmin' method='post')
          //-   label.LabelAdmin(for='POST-user') user
          //-   br
          //-   input#POST-user.InputAdmin(type='text' name='user')
          //-   br
          //-   label.LabelAdmin(for='POST-pass') pass
          //-   br
          //-   input#POST-pass.InputAdmin(type='text' name='pass')
          //-   br
          //-   br
          //-   input#subAdm1n(type='submit' class="css3but" value='log')
append scripts
  script.
    $('#intro').removeClass('css3buttonRed')
    $('#intro').addClass('css3button')
    $('#resume').removeClass('css3buttonRed')
    $('#resume').addClass('css3button')
    $('#admin').removeClass('css3button')
    $('#admin').addClass('css3buttonRed')
    $('#m0ncentrage').fadeIn(250)
