extends layoutNav.pug
append content
  canvas.background
  .content
    .table-cell
      #m0ncentrage
        #INDEX
          .moi
            //display-none
            //a.pdf.french(href='/static/img/cvMikaelFr.pdf')
            //img.pdf.french(src='/static/img/downPdf.svg' alt='download pdf' height='64')
            //a.pdf.english(href='/static/img/cvMikaelEn.pdf')
            //img.pdf.english(src='/static/img/downPdf.svg' alt='download pdf' height='64')
            img.foto(src='/static/img/photoCV.jpg' alt='Mafoto' height='78' onclick='openlinkedin();')
            p.moiPara Mika&euml;l GARCIA 37 y/o 
            p.moiPara 65 rue de la republique 
            p.moiPara 82000 MONTAUBAN 
            p.moiPara +33 695 490 777
            p.moiPara garcia.mikael@gmail.com
            p.moiPara http://mikael.ml
          #metier
            h1 IBM and Javascript Developer
          p.flags
            img#english(src='/static/img/uk.svg' alt='English' height='30')
            img#french(src='/static/img/france.svg' alt='Français' height='30')
          .competen#competen
            h2.titreH2.french Competences
            h2.titreH2.english Skills
            h2.titreH2.spanish  Competencias
            .informatiquesCont.french.english.spanish
              h3.titreH3 Front-End
              .informatiques#informatique
                .infoJeu ECMAScript 6
                .infoJeu HTML5
                .infoJeu jade/PUG
                .infoJeu JQUERY
                .infoJeu SCSS
                .infoJeu PL/SQL
                .infoJeu BootStrap
                .infoJeu AngularJS
              h3.titreH3 Back-End
              .informatiques#informatique
                .infoJeu IBM i
                .infoJeu NodeJS
                .infoJeu IBM DB2
                .infoJeu ExpressJS
                .infoJeu Ajax
                .infoJeu mongoDB
              h3.titreH3 Tools
              .informatiquesLast#informatique
                .infoJeu LINUX
                .infoJeu osX
                .infoJeu Windows
                .infoJeu Git
                .infoJeu bsh/zsh
                .infoJeu Photoshop
                .infoJeu IBM RDi
                .infoJeu ARCAD
            .btp#btp.french.english.spanish
              h3.titreH3.french Techniques Design
              h3.titreH3.english Techniques Design
              h3.titreH3.spanish Técnicas diseño
              .info.french R&eacute;aliser l&rsquo;&eacute;tude technique d&rsquo;un projet de construction et en estimer le co&ucirc;t
              .info.english Conduct the technical study of a construction project and estimate the cost
              .info.spanish Estudio técnico de un proyecto de construcción y estimación del costo
              .info.french R&eacute;aliser la repr&eacute;sentation graphique d&rsquo;une construction ou de design int&eacute;rieur (Autocad, ArchiCAD, VectorWorks, Artlantis)
              .info.english Realize the graphic representation of a construction or interior design (Autocad, ArchiCAD, VectorWorks, Artlantis)
              .info.spanish Realización de representaciónes gráficas de construcción y de diseño interiores (Autocad, ArchiCAD, VectorWorks, Artlantis)
              .infolast.french R&eacute;aliser un dossier de d&eacute;tails d&rsquo;ex&eacute;cutions de projet (Autocad, VectorWorks)
              .infolast.english Make a project execution details folder (Autocad, VectorWorks)
              .infolast.spanish Creación de carpetas de detalles de ejecución de proyectos (Autocad, VectorWorks)
            .commerciales#commerciales.french.english.spanish
              h3.titreH3 H to H
              .info.french Assistant r&eacute;gie au Palais des Festivals de Cannes et en boite de productions t&eacute;l&eacute;visuelles
              .info.english Assistant director at Palais des Festivals in Cannes and in a television productions company
              .info.spanish Asistente de dirección en el Palais des Festivals de Cannes y en oficina de producciones televisivas
              .info.french Mener un entretien de n&eacute;gociations de produits ou de services
              .info.english Conduct interviews of products or services negotiations
              .info.spanish Negociación de productos o servicios
              .infolast.french Accueil, service et conseil commercial
              .infolast.english Incoming, service and commercial advice
              .infolast.spanish Recepción, servicio y asesoramiento comercial
          .competen#experiences
            h2.titreH2.french Experiences
            h2.titreH2.english Experiences
            h2.titreH2.spanish Experiencia profesional
            .jobs
              h3.titreH3.french Developpeur logiciel IBM i
              h3.titreH3.english IBM i programmer
              .infojob.french Développement sur IBM i (CL, SQL, RPG, arcad, Rdi), Pro a Pro  Montauban, depuis août 2019
              .infojob.english IBM i Developer (CL, SQL, RPG, arcad, Rdi), Pro a Pro  Montauban, depuis août 2019
              .infojob.spanish IBM i Developer (CL, SQL, RPG, arcad, Rdi), Pro a Pro  Montauban, depuis août 2019
            .jobs
              h3.titreH3.french Ingenieur etude et developpement IBM i
              h3.titreH3.english IBM i software engineer
              .infojob.french Développement sur IBM i (CL, SQL, RPG, arcad, Rdi), OCSI Paris 01, depuis janvier 2019
              .infojob.english IBM i Developer (CL, SQL, RPG, arcad, Rdi), OCSI Paris 01, depuis janvier 2019
              .infojob.spanish IBM i Developer (CL, SQL, RPG, arcad, Rdi), OCSI Paris 01, depuis janvier 2019
            .jobs
              h3.titreH3 Webmaster
              .infojob.french Mise &agrave; jour de la base de donn&eacute;es site Ecommerce (magento) www.snow-concept.com, l&rsquo;Alpe d&rsquo;Huez, d&eacute;cembre 2016
              .infojob.english Update of the Ecommerce website database (magento) www.snow-concept.com, Alpe d'Huez, December 2016
              .infojob.spanish Actualización de la base de datos del sitio snow-concept.com (magento), Alpe d'Huez, diciembre de 2016
            .jobs
              h3.titreH3.french Technicien audio-visuel
              .infojob.french Accessoiriste: JLA productions, Martigues 2015
              .infojob.french Assistant r&eacute;gisseur: Auteurs Associ&eacute;s, Grasse 2014
              .infojob.french Renfort d&eacute;coration et figurations: Gazelle Cie, DEMD, Europacorp, Marseille 2013
              h3.titreH3.english Audio-visual technician
              .infojob.english Props manager: JLA productions, Martigues 2015
              .infojob.english Assistant director: Auteurs Associ&eacute;s, Grasse 2014
              .infojob.english Ripper and figuration: Gazelle Cie, DEMD, Europacorp, Marseille 2013
              h3.titreH3.spanish Técnico audiovisual
              .infojob.spanish gerente de apoyos: JLA productions, Martigues 2015
              .infojob.spanish Subgerente: Auteurs Associ&eacute;s, Grasse 2014
              .infojob.spanish Refuerzo de decoración y figuración: Gazelle Cie, DEMD, Europacorp, Marseille 2013
            .jobs
              h3.titreH3.french Dessinateur Projeteur HVAC
              .infojob.french Etude des projets de construction ERP &quot;Castorama&quot;, AUXITEC ing&eacute;nierie, Hy&egrave;res, septembre 2012
              h3.titreH3.english HVAC designer
              .infojob.english Study of construction projects ERP "Castorama" Toulouse union and Antibes, AUXITEC engineering, Hyères, September 2012
              h3.titreH3.spanish Diseñador de HVAC
              .infojob.spanish Estudio de proyectos de construcción de tiendas "Castorama" Toulouse Union y Antibes, ingeniería AUXITEC, Hyères, septiembre de 2012
            .jobs
              h3.titreH3.french Developpeur PHP HTML CSS
              .infojob.french Introduction &agrave; JavaScript (JQuery) www.stand-service.com Alphabet Stand Service La Garde, 2012
              h3.titreH3.english PHP CSS HTML Developer
              .infojob.english Introduction to JavaScript (JQuery) www.stand-service.com Alphabet Stand Service La Garde, 2012
              h3.titreH3.spanish Desarrollador PHP CSS HTML
              .infojob.spanish introducción a JavaScript (JQuery) www.stand-service.com Alphabet Stand Service La Garde, 2012
            .jobs
              h3.titreH3.french Technicien etudes en Design et Decoration
              .infojob.french Alphabet Stand Service (MIPCOM/MIPTV, MIDEM, FIF&mldr;), La Garde, 2010-2012
              h3.titreH3.english Design and Decoration Technician
              .infojob.english Alphabet Stand Service (MIPCOM/MIPTV, MIDEM, FIF&mldr;), La Garde, 2010-2012
              h3.titreH3.spanish Técnico de Diseño y Decoración
              .infojob.spanish Alphabet Stand Service (MIPCOM/MIPTV, MIDEM, FIF&mldr;), La Garde, 2010-2012
            .jobs
              h3.titreH3.french Vendeur et Technicien Ski
              .infojob.french Nevada Sports l&rsquo;Alpe d&rsquo;Huez, 2008-2009
              h3.titreH3.english Ski Salesman and Technician
              .infojob.english Nevada Sports l&rsquo;Alpe d&rsquo;Huez, 2008-2009
              h3.titreH3.spanish Vendedor de esquí y de material deportivo
              .infojob.spanish Nevada Sports l&rsquo;Alpe d&rsquo;Huez, 2008-2009
            .jobs
              h3.titreH3.french Technicien ADSL
              .infojob.french British Telecom Critical Systems Le Plessis-Robinson, 2008
              h3.titreH3.english ADSL Technician
              .infojob.english British Telecom Critical Systems Le Plessis-Robinson, 2008
              h3.titreH3.spanish Técnico de ADSL
              .infojob.spanish British Telecom Critical Systems Le Plessis-Robinson, 2008
            .jobs
              h3.titreH3.french Technicien Ski et Snowboard
              .infojob.french Intersport, l&rsquo;Alpe d&rsquo;Huez, 2007-2008
              h3.titreH3.english Ski and Snowboard Technician
              .infojob.english Intersport, l&rsquo;Alpe d&rsquo;Huez, 2007-2008
              h3.titreH3.spanish Técnico de esquí y snowboard
              .infojob.spanish Intersport, l&rsquo;Alpe d&rsquo;Huez, 2007-2008
            .jobs
              h3.titreH3.french Technicien systemes et Administrateur reseaux microsoft
              h3.titreH3.english Systems technician and Microsoft Network Administrator 
              h3.titreH3.spanish Técnico y Administrador de Sistemas y Redes microsoft
              .infojob.french Administration serveurs Windows et clients GNU/LINUX Maintenance et installation systemes informatique Developpement html php (script de backup) SECOB, St Jean-de-la-Ruelle, 2005-2007
              .infojob.english Windows server administration and GNU / LINUX clients Maintenance and installation of computer systems, html php development (backup script), SECOB, St Jean-de-la-Ruelle, 2005-2007
              .infojob.spanish Administración de servidores Windows y clientes GNU / LINUX Mantenimiento e instalación de sistemas infojobrmáticos, desarollamiento html php (script de copia de seguridad), SECOB, St Jean-de-la-Ruelle, 2005-2007
            .jobs
              h3.titreH3.french Technicien Systemes et Reseaux
              .infojob.french Maintenance et installation systemes informatique Developpement html php d&apos;un site de devis securis&eacute; Emergence, Orl&eacute;ans, 2004
              h3.titreH3.english Systems and Networks Technician
              .infojob.english Maintenance and installation of computer systems PHP html development of a secured quote site Emergence, Orléans, 2004
              h3.titreH3.spanish Técnico de Sistemas y Redes
              .infojob.spanish Mantenimiento e instalación de sistemas infojobrmáticos PHP html desarrollo de un sitio de cotizaciones seguras Emergence, Orléans, 2004
            .jobs
              h3.titreH3.french Adjoint au responsable de magasin
              .infojob.french Micromania, St Jean de la Ruelle, 2003
              h3.titreH3.english Assistant to the store manager
              .infojob.english Micromania, St Jean de la Ruelle, 2003
              h3.titreH3.spanish Asistente del gerente de la tienda
              .infojob.spanish Micromania, St Jean de la Ruelle, 2003
            .jobs
              h3.titreH3.french Emplois etudiant
              .infojob.french Conseiller de vente en espace culturel Leclerc, serveur/barman, Ouvrier boulanger, Employ&eacute; polyvalent chez Intermarch&eacute;
              h3.titreH3.english Student jobs
              .infojob.english Cultural sales consultant Leclerc, waiter / bartender, Bakery worker, multi-purpose employee at Intermarché
              h3.titreH3.spanish Trabajos de estudiante
              .infojob.spanish Asesor de ventas culturales Leclerc, camarero / camarero, trabajador de panadería, empleado multipropósito en Intermarché
          .competen#formation
            h2.titreH2.french Formation
            h2.titreH2.english Training
            h2.titreH2.spanish Formación
            .jobs
              h3.titreH3 Pepiniere IBM
              span OCSI Paris 01
              .infojob.french Développement RPGLE et CL
              .infojob.english Développement RPGLE et CL
              .infojob.spanish Développement RPGLE et CL
              .infojob.french SQL for IBM db2
              .infojob.english SQL for IBM db2
              .infojob.spanish SQL for IBM db2
              .infojob.french Webservices for IBM i series
              .infojob.english Webservices for IBM i series
              .infojob.spanish Webservices for IBM i series
            .jobs
              h3.titreH3.french Developpeur JavaScript FullStack
              h3.titreH3.english FullStack Javascript Developer
              h3.titreH3.spanish Desarollador Javascript de pila completa
              span IFOCOP Paris 11
              .infojob.french Développement et management d&apos;un projet web
              .infojob.english Development and management of a web project
              .infojob.spanish Desarolla y gestión de un proyecto web
              .infojob.french Cr&eacute;ation de sites web statiques riche front-end JS
              .infojob.english Creating Static Rich Front-end JS Websites
              .infojob.spanish Creación de sitios web estáticos de front-end JS estáticos
              .infojob.french Cr&eacute;ation d&apos;applications web et mobiles riche backend JS
              .infojob.english Creating rich web and mobile applications backend JS
              .infojob.spanish Creación de aplicaciones web y móviles ricas en el back-end de JS
            .jobs
              h3.titreH3.french TP de technicien etude en batiment option dessin
              h3.titreH3.english Construction Engineer Technician Drawing Option
              h3.titreH3.spanish Técnico de Ingeniería de Construcción Opción de Dibujo
              span AFPA La Valette-du-var
              .infojob Photoshop, Autocad, Archicad, Artlantis
              .infojob.french Design, techniques et normes de construction
              .infojob.english Design, techniques and construction standards
              .infojob.spanish Diseño, técnicas y estándares de construcción
              .infojob.french Notions d&apos;urbanisme et de voirie
              .infojob.english Notions of town planning and roads
              .infojob.spanish Nociones de urbanismo y carreteras
            .jobs
              h3.titreH3 DUT informatique genie logiciel
              span IUT d'Orléans
              .infojob.french Syst&eacute;mes et R&eacute;seaux: Administration et d&eacute;ploiementent r&eacute;seau de syst&egrave;mes en environnement Linux, regexp/assembleur
              .infojob.french Base de Donn&eacute;es: Analyse (merise), conception (MCD, MCT), maintenance
              .infojob.french Programmation: Langage C, C++, SQL, bsh, assembly language
              .infojob.english Systems and Networks: Administration and deployment network of systems in Linux environment, regexp assembler notions
              .infojob.english Database: Analysis (merise), design (MCD, MCT), maintenance
              .infojob.english Programming: Langage C, C++, SQL, bsh, assembly language
              .infojob.spanish Sistemas y Redes: Red de administración e implementación de sistemas en entorno Linux, nociones de ensamblador regexp        
              .infojob.spanish Base de Datos: Análisis (merise), diseño (MCD, MCT), mantenimiento
              .infojob.spanish Programación: Langage C, C++, SQL, bsh, assembly language
            .jobs
              h3.titreH3.french Baccalaureat Scientifique
              .infojob.french Sp&eacute;cialit&eacute; physique-chimie
              h3.titreH3.english Scientific Baccalaureate Diploma
              .infojob.english Specialty physics-chemistry
              h3.titreH3.spanish Bachillerato Científico        
              .infojob.spanish Especialidad física-química
          .competen#complementaire
            .infojob.french Permis : auto, moto.
              img.linkedin(src='/static/img/LinkedIn_Logo.svg' alt='logolinkedin' onclick='openlinkedin();')
            .infojob.english Driving licences: car, motorcycle.
              img.linkedin(src='/static/img/LinkedIn_Logo.svg' alt='logolinkedin' onclick='openlinkedin();')
            .infojob.spanish Permiso: auto, motocicleta.
              img.linkedin(src='/static/img/LinkedIn_Logo.svg' alt='logolinkedin' onclick='openlinkedin();')
            .infojob.french Sports: 
              | gym, sports de glisse, VTT.
            .infojob.english Sports: gym, board sports, mountain biking.
            .infojob.spanish Deporte: gimnasio, deportes de tabla, ciclismo de montaña.
            .infojob.french Hobbies: electronique, d&eacute;coration, design, r&eacute;novation.
            .infojob.english Hobbies: electronics, decoration, design, renovation.
            .infojob.spanish HOBBIES: electrónica, decoración, diseño, renovación.
            //.web www.mikael.ml
append scripts
  script(src='/static/js/trad.js' defer)
  script.
    $('#intro').removeClass('css3buttonRed')
    $('#intro').addClass('css3button')
    $('#resume').removeClass('css3button')
    $('#resume').addClass('css3buttonRed')
    $('#admin').removeClass('css3buttonRed')
    $('#admin').addClass('css3button')