#footer
  p.LogoNode
    img.minilogos(src='/static/img/ArchLogo.svg' alt='START' height='35')
    img.minilogos(src='/static/img/HTML5Logo.png' alt='START' height='35')
    img.minilogos(src='/static/img/CSS3Logo.svg' alt='START' height='35')
    img.minilogos(src='/static/img/ES6LOGO.svg' alt='START' height='35')
    img.minilogos(src='/static/img/LogoNode.svg' alt='START' height='35')
    img.minilogos(src='/static/img/mongoDbLogo.svg' alt='START' height='35')