extends layoutNav.pug
append head
	link(rel='stylesheet' href='/static/css/cv.css')
append content
	.content
		.table-cell
			#m0ncentrage
				#INDEX
					h1
						span ADHD and High IQ: What&apos;s the Connection ?
					h3
						span
							| written by: Lynn-nore Chittom &bull; edited by: Daniel P. McGoldrick &bull;
							| updated: 5/25/2011
					p
						span Parents sometimes wonder if their children can have 
						span
							| both ADHD and High
							| IQ levels. The answer is
						span &nbsp;they can, and 
						span they often do.
					p
						span
					p
						span Read on for answers
						span
							| to common questions about the
							| relationship between ADHD and intelligence.
					p
						span
							| Masked, But Still There Some children with ADHD have also been gifted with a high IQ.
							| Unfortunately, this does not actually negate the symptoms of the ADHD, though it may mask them for a while
							| and make the diagnosis more difficult.
					p
						span
					p
						span
							| Typically gifted children demonstrate a complicated combination of symptoms which
							| represent both their giftedness and their ADHD. This may include perceptions or reasoning skills beyond
							| their age, along with a propensity toward hyperactivity. Or it may be demonstrated in early reading and
							| tremendous ease with learning, combined with extremely poor social skills.
					p
						span
							| Regardless of their intelligence, for children to be diagnosed with ADHD they must
							| present symptoms from the following list for at least six months and symptoms must appear prior to age
							| seven:
					ul
						li
							span Inability to sustain focus
						li
							span Distractability
						li
							span Difficulty completing assignments
						li
							span Forgetfulness
						li
							span Frequent shifts in conversation
						li
							span
								| Hyperfocusing on activities of interest to the point of ignoring other
								| responsibilities
						li
							span Lack of organizational skills
						li
							span Fidgeting or squirming
						li
							span Frequently hopping up out of their chairs
						li
							span Running or climbing at inappropriate times and in inappropriate places
						li
							span Inability to sit still or play quietly
						li
							span Excessive talking
						li
							span Impulsivity
					p
						span
					h2
						span How the ADHD Hides
					p
						span
							| Children with high IQ levels are often able to circumvent detection of their ADHD if
							| it is not caught early.
					p
						span
					p
						span
							| By school time they are very capable of figuring out assignments even if they did not
							| hear the directions.
					p
						span
					p
						span
							| Similarly they may be able to learn independently and catch up despite
							| distractability, excessive talking or fidgeting in the classroom.
					p
						span
					p
						span
							| Unfortunately, the ADHD eventually catches up with them as classwork becomes more
							| challenging and teachers depend more on students being organized, self-motivated and attentive.
					p
						span
					p
						span
							| At this point the ADHD may appear to come out of nowhere for children who have masked
							| it under their high intelligence.
					p
						span
					p
						span
							| Symptoms that May Appear Later in Life Individuals with ADHD and high intelligence
							| sometimes manage to maneuver their way through school riding on their intellect alone. They work their
							| teachers and the system and charm their way to success by applying themselves as needed, despite their
							| limitations.
					p
						span
					p
						span
							| During school years, the ADHD may go undetected and symptoms may be attributed to
							| boredom or defiance. Outside of school it becomes obvious that these individuals have difficulties with
							| short term memory and basic functioning skills. They may find themselves multi-tasking to a fault, having
							| difficulties sleeping due to hyperactivity, or struggling to remain organized or on-task. These symptoms can
							| present themselves at any time, but that does not mean they are new symptoms.
					p
						span
					p
						span
							| ADHD is a genetic neuropsychological disorder, and is not an adult-onset
							| disorder.
					p
						span
					p
						span
							| When symptoms seem to appear later in life, individuals may initially deny their
							| ADHD, but often eventually decide to pursue treatment on their own.
					p
						span
					p
						span
							| Medication can be effective, even if they did not treat their ADHD in this way during
							| childhood or adolescence.
					p
						span
					p
						span
							| The most popular treatment options for adults with ADHD and High IQ are stimulant
							| drugs which reduce their symptoms and enable their high intelligence to shine.
					p
						span
					p
						span
					p
						span
					p
						span
							| Reference
							| http://psychcentral.com/news/2009/05/25/high-iq-offers-no-protection-from-adhd-effects/6074.html
					p
						span
					p
						span http://www.webmd.com/add-adhd/guide/adhd-symptoms 
						span
							| ing
							| skills. They may find themselves multi-tasking to a fault, having difficulties sleeping due to
							| hyperactivity, or struggling to remain organized or on-task. These symptoms can present themselves at any
							| time, but that does not mean they are new symptoms.
					p
						span
					p
						span
							| ADHD is a genetic neuropsychological disorder, and is not an adult-onset
							| disorder.
					p
						span
					p
						span
							| When symptoms seem to appear later in life, individuals may initially deny their
							| ADHD, but often eventually decide to pursue treatment on their own.
					p
						span
					p
						span
							| Medication can be effective, even if they did not treat their ADHD in this way during
							| childhood or adolescence.
					p
						span
					p
						span
							| The most popular treatment options for adults with ADHD and High IQ are stimulant
							| drugs which reduce their symptoms and enable their high intelligence to shine.
					p
						span
					p
						span
					p
						span
					p
						span Reference http://psychcentral.com/news/2009/05/25/high-iq-and-adhd
append scripts
	script.
		$('#intro').removeClass('css3buttonRed')
		$('#intro').addClass('css3button')
		$('#resume').removeClass('css3button')
		$('#resume').addClass('css3button')
		$('#admin').removeClass('css3buttonRed')
		$('#admin').addClass('css3button')
		$('#adhd').removeClass('css3button')
		$('#adhd').addClass('css3buttonRed')
		$('#m0ncentrage').show()
