extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage
        .m0ncentrageParafoot
          #INDEX
            .paraFoot Welcome to my devlab
              #s0leil
            include jeuCV.pug
            .paraFoot My name is Mikael, I'm an IBM RPG &amp; Javascript Developer.
              video#jugglejungle(playsinline autoplay muted loop poster='/static/img/kuansiFalls.webp')
                source(src='/static/video/theOneFinal.webm'  type='video/webm')
            button#BtnJs0nPl4Y PLAY
            .paraFoot This website hosts my skills, projects and experiences.
          //include joust.pug
          //include adm1n.pug
append scripts
  script(src='/static/js/soleil.js' defer)
  script(src='/static/js/BrickBreaker.js' defer)
  script.
    $('#intro').removeClass('css3button')
    $('#intro').addClass('css3buttonRed')
    $('#resume').removeClass('css3buttonRed')
    $('#resume').addClass('css3button')
    $('#admin').removeClass('css3buttonRed')
    $('#admin').addClass('css3button')