extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage
        .m0ncentrageParafoot
          #INDEX
            h1 Welcome to my devlab
            video#jugglejungle(width='480', height='270', playsinline autoplay muted loop poster='/static/img/kuansiFalls.webp')
              source( src='/static/video/theOneFinal.webm'  type='video/webm')
            button#BtnJs0nPl4Y PLAY
            //iframe(width='480', height='270', src='/static/video/theOneFinal.webm?autoplay=1&loop=1&autopause=1&autopause=0&muted=1&background=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .paraFoot My name is Mikael
            #s0leil
            .paraFoot I'm an IBM RPG &amp; Javascript Developer
            include jeuCV.pug
            .paraFoot This website hosts my skills, projects and experiences.
            a.twitter-timeline(data-width='480', data-height='640', data-chrome="transparent nofooter noborders noheader noscrollbar", data-theme='', href='https://twitter.com/K431M1?ref_src=K431M1') Tweets by K431M1
          //include joust.pug
          //include adm1n.pug
append scripts
  script(src='https://platform.twitter.com/widgets.js' defer)
  script(src='/static/js/soleil.js' async)
  script(src='/static/js/BrickBreaker.js' async)
  script.
    $('#intro').removeClass('css3button')
    $('#intro').addClass('css3buttonRed')
    $('#resume').removeClass('css3buttonRed')
    $('#resume').addClass('css3button')
    $('#admin').removeClass('css3buttonRed')
    $('#admin').addClass('css3button')