extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage
        .m0ncentrageParafoot
          #INDEX
            h1 Welcome to my devlab
            video#jugglejungle(playsinline autoplay muted loop poster='/static/img/kuansiFalls.webp')
              source( src='/static/video/theOneFinal.webm' type='video/webm')
            button#BtnJs0nPl4Y PLAY
            h2 My name is Mikael 
            h2 I am an IBM RPG &amp; Javascript Developer
            include jeuCV.pug
            .paraFoot This website hosts my skills, projects and experiences.
            #s0leil
            a.twitter-follow-button(href='https://twitter.com/K431M1?ref_src=twsrc%5Etfw' data-size='large' data-show-count='false') Follow @K431M1
            br
      //include joust.pug
      //include adm1n.pug
append scripts
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  script(src='/static/js/soleil.js')
  script(src='/static/js/BrickBreaker.js')
  script(src='/static/js/layoutNav.js')
  script.
    $('#intro').removeClass('css3button')
    $('#intro').addClass('css3buttonRed')
    $('#resume').removeClass('css3buttonRed')
    $('#resume').addClass('css3button')
    $('#admin').removeClass('css3buttonRed')
    $('#admin').addClass('css3button')