extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage
        .paraFoot Welcome to my devlab
          #s0leil
        .paraFoot My name is Mikael. I'm a javascript developer. This website hosts my skills, projects and experiences.
          video#jugglejungle(loop='' poster='/static/img/kuansiFalls.jpg')
            source(src='/static/video/theOneFinal2.webm' type='video/webm')
            source(src='/static/video/theOneFinal2.mp4' type='video/mp4')
        button#BtnJs0nPl4Y Play
append scripts
  script(src='/static/js/soleil.js')