extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage
        .m0ncentrageParafoot
          #INDEX
            h1
              .english Welcome to my dev lab
              .french Bienvenue dans mon Labo de Dev
            video#jugglejungle(playsinline autoplay muted loop poster='/static/img/kuansiFalls.webp')
              source( src='/static/video/theOneFinal.webm' type='video/webm')
            button#BtnJs0nPl4Y PLAY
            h2
              .english My name is Mikael 
              .english I am an IBM and javaScript Developer
              .french Je suis Mikael 
              .french Developpeur IBM et javaScript
            include jeuCV.pug
            .paraFoot.english This website hosts my projects, experiences and skills
            .paraFoot.french Ce site héberge mes projets, expériences et compétences
            #s0leil
            a.twitter-follow-button(href='https://twitter.com/K431M1?ref_src=twsrc%5Etfw' data-size='large' data-show-count='false') Follow @K431M1
            br
            canvas.background
            //audio#bonnie(src='./static/sound/BONNIE.mp3' autoplay='' loop='')
      //include joust.pug
      //include adm1n.pug
append scripts
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  script(src='/static/js/soleil.js')
  script(src='/static/js/BrickBreaker.js')
  script(src='/static/js/layoutNav.js')
  script.
    $('#intro').removeClass('css3button')
    $('#intro').addClass('css3buttonRed')
    $('#resume').removeClass('css3buttonRed')
    $('#resume').addClass('css3button')
    $('#admin').removeClass('css3buttonRed')
    $('#admin').addClass('css3button')
    //var bonnie = window.document.getElementById('bonnie')
    //bonnie.play()