extends layoutNav.pug
append content
  .content
    .table-cell
      #m0ncentrage
        .m0ncentrageParafoot
          #INDEX
            h1 Welcome to my devlab
            h2 My name is Mikael 
            video#jugglejungle(playsinline autoplay muted loop poster='/static/img/kuansiFalls.webp')
              source( src='/static/video/theOneFinal.webm' type='video/webm')
            //button#BtnJs0nPl4Y PLAY
            a.twitter-follow-button(href='https://twitter.com/K431M1?ref_src=twsrc%5Etfw' data-size='large' data-show-count='false') Follow @K431M1
            h3 I'm an IBM RPG &amp; Javascript Developer
            include jeuCV.pug
            .paraFoot This website hosts my skills, projects and experiences.
            #s0leil
            br
            //#divTwitter
              a.twitter-timeline(data-width='90%' data-height='500px' data-chrome="transparent border" data-theme='' href='https://twitter.com/K431M1?ref_src=K431M1') Tweets by M1K431
      //noborders noheader nofooter
      //include joust.pug
      //include adm1n.pug
append scripts
  script(async='' src='//embed.redditmedia.com/widgets/platform.js' charset='UTF-8')
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  script(src='/static/js/soleil.js')
  script(src='/static/js/BrickBreaker.js')
  script(src='/static/js/layoutNav.js')
  script.
    $('#intro').removeClass('css3button')
    $('#intro').addClass('css3buttonRed')
    $('#resume').removeClass('css3buttonRed')
    $('#resume').addClass('css3button')
    $('#admin').removeClass('css3buttonRed')
    $('#admin').addClass('css3button')