extends layoutNav
append head
 link(rel='stylesheet' href='/static/css/joust.css')
append content
  .content
    .table-cell
      #m0ncentrageAdmin
append scripts
  script(src='/static/js/socket.io.js')
  script(src='/static/js/joust.js' defer)