extends layoutNav.pug
append head
  link(rel='stylesheet' href='/static/DataTables-1.10.18/css/jquery.dataTables.min.css')
  link(rel='stylesheet' href='/static/css/layoutAdmin.css')
block content
  #m0ncentrageAdmin
    .m0ncentrageParafoot
      #maDivTest
        h1 Welcome Admin
        h2=m0nID535510n
        h2=ma535510n
append scripts
  script(src='/static/DataTables-1.10.18/js/jquery.dataTables.min.js')
  script(src='/static/js/layoutAdmin.js')