doctype html
html(lang="en")
  head
    block head
      title IBM RPG &amp; Javascript Developer
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=0.6")
      //meta(http-equiv="X-UA-Compatible" content="ie=edge")
      meta(name='description' content='My Javascript Portfolio')
      meta(property='og:title' content='IBM RPG & Javascript Developer')
      meta(property='og:type' content='image')
      meta(property='og:url' content='http://www.mikael.ml')
      meta(property='og:image' content='//mikael.ml/static/img/ogImage.png')
      meta(property='og:description' content='My Javascript Portfolio')
      link(rel='manifest' href='/static/mikael.manifest')
      link(rel='stylesheet' href='/static/css/styles.css')
      link(rel='stylesheet' href='/static/css/cv.css') 
  nav#navBar
    ul
      li 
        a#intro.nav(rel='preconnect' href='/' class='css3button') Intro
      li
        a#resume.nav(rel='preconnect' href='/cv' class='css3button') CV
      //li
        a#admin.nav(rel='preconnect' href='/adm1n' class='css3button') aL1v3
      li
        a#adhd.nav(rel='preconnect' href='/giftedADHD' class='css3button') ADHD
  body
    block content
    //canvas.background
  foot
    block foot
      #footer
        a.minilogL(rel='preconnect' href='https://github.com/m1k431')
          img(src='/static/img/gitHubMark.png' alt='git' height='35')
          img(src='/static/img/gitHubW.png' alt='git' height='35')
        a.minilogR(rel='preconnect' href='https://www.linkedin.com/in/mika%C3%ABl-garcia/')
          img(src='/static/img/LinkedIn_Logo.svg' alt='linkedin' height='35')
    block scripts
      script(src='/static/js/jquery-3.3.1.min.js' defer)
      script(src='/static/js/jquery-ui.min.js' defer)
      script(src='./static/js/particles.min.js' defer)
      //script(src='/static/js/socket.io.js')
      script.
        window.onload = function() {
        Particles.init({
        selector: '.background',
        color: '#EFF4F5',
        connectParticles: true,
        maxParticles: 50
        })
        //console.log(document.querySelector(".content").offsetHeight)
        $('.background').css('height', document.querySelector(".content").clientHeight + 'px')
        }