extends layoutNav.pug
append head
  img#menuAdmin(src='/static/img/sideNav.svg' onclick='openSideNav();')
  #m0nSideNav.sidenav
    a.closebtn(href='javascript:void(0)' onclick='closeSideNav();') &times;
    a(href='./nomPage?r=layoutAdmin') Adm1n
    a(href='./nomPage?r=m0nFormArticle') Ecrire
    a(href='./pagelisteArticle') Modifier

block content
  #m0ncentrageCV
    #maFirstDiv
      h1 Welcome Admin
      h2 ID:
      h2=m0nID535510n
      h2 session:
      h2=ma535510n
append scripts
  script.
    function openSideNav() {
      document.getElementById("m0nSideNav").style.width = "20%";
    }
    function closeSideNav() {
        document.getElementById("m0nSideNav").style.width = "0";
    }