include layoutAdmin.pug
block content
  #m0ncentrageAdmin
    .m0ncentrageParafoot
      #maDivTest
        h1 Liste Article
        table#mesData.display.cell-border
          thead
            tr
              th ID
              th Titre
              th Article
              th writer
          tbody
            each article in data
              tr
                td=article._id
                td=article.titre
                td=article.article
                td=article.writer
append scripts
  script(src='/static/js/monScriptArticle.js')