extends layoutNav
append head
 link(rel='stylesheet' href='/static/css/pong.css')
append content
  #m0ncentrageCV
append scripts
  script(src='/static/js/socket.io.js')
  script(src='/static/js/pong.js' defer)