extends layoutNav.pug
append content
  #m0ncentrage
    h1 Welcome to my devlab
      #s0leil
      #paraFoot My name is Mikael. I'm a javascript developer. This website hosts my projects and experiences.
append scripts
  script(src='/static/js/soleil.js')